{% comment %}
Parameters:
    prefix (required) e.g. "/Notes"
    from   (optional) a collection/array to search (default: site.pages)
Output:
    filtered
{% endcomment %}

{% assign _prefix_len = include.prefix | size %}
{% assign _pages = include.from | default: site.pages %}

{% assign filtered = "" | split: "" %}
{%- for p in _pages -%}
  {% assign p_prefix = p.url | slice: 0, _prefix_len %}
  {%- if p_prefix == include.prefix -%}
    {%- assign filtered = filtered | push: p -%}
  {%- endif -%}
{%- endfor -%}