{% comment %}
  Required input:
    folder - the path to render the children of
  Optional:
    ul_class - css class for the list
    li_class - css class for each item
{% endcommment %}

{% if include.folder %}
  {% assign clean_url_parts = include.folder | remove: 'index.html' | remove: '.html' | split: '/' | where_exp: 'p', 'p != ""' %}
  {% assign full_url = clean_url_parts | join: '/' | prepend: '/' | append: '/index.html' %}
  {% assign folder_item = site.Notes | where: 'url', full_url %}
  {% if include.ul_class %}
    <ul class="{{ ul_ class }}" >
  {% else %}
    <ul>
  {% endif %}
  {% for child in folder_item.children %}
    {% if include.li_class %}
      <li class="{{ li_class }}">
    {% else %}
      <li>
    {% endif %}
    {{ child.title }}</li>
  </ul>
{% endif %}