---
---

.mywrapper {
  position: relative;
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
}

.sidebar {
  position: fixed;       /* remove from normal flow */
  top: 200px;                   /* align to the top of .mywrapper */
  left: calc(50vw - 370px - 220px);             /* move it left by its own width + gutter */
  width: 220px;             /* whatever width you need */
  /* optional styling */
  /* background: #f9f9f9; */
  /* padding: 1rem; */
}
 
.sidebar ul {
  list-style: none;
  margin: 0;
  padding-left: .7em;
}

.space-above {
  margin-top: 1em;
}

.prev {
  float: left;
}

.next {
  float: right;
}