{% assign parts = include.path | split: '/' %}
{% if parts.size == 2 or parts.size == 3 and parts[-1] == 'index.html' %}
  {% assign url = include.baseurl | append: include.path %}
  {% assign item = site.Notes | where: 'url', url | first %}
  &nbsp; > &nbsp; {{ item.title }}
{% elsif parts.size > 1 %}
  {% assign url = include.baseurl | append: '/' | append: parts[1] | append: '/index.html' %}
  {% assign item = site.Notes | where: 'url', url | first %}
  &nbsp; > &nbsp; <a href="{{ site.baseurl }}{{ url }}">{{ item.title }}</a>
  {% assign next_baseurl = include.baseurl | append: '/' | append: parts[1] %}
  {% assign next_parts_len = parts | size | minus: 2 %}
  {% assign next_path = parts | slice: 2, next_parts_len | join: '/' | prepend: '/' %}
  {% include parts/breadcrumb.html path=next_path baseurl=next_baseurl %}
{% endif %}